body {
    background: black;
    color: mediumblue;
    margin: 0px;
    font-family: "Playfair Display", serif;
}

header {
    border-bottom: solid 2px;
    padding: 10px;
    font-size: 32px;
    color: mediumblue;
}        

section {
    padding: 20px;
    background: plum;
    display: flex;
    justify-content: center;
}

.video {
    margin-left: 5%;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 30px;
}